<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newsclass"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />
     
    <permission
        android:name="com.example.newsclassserver.ACCESS"></permission>
    
    <uses-permission
        android:name="com.example.newsclassserver.ACCESS"></uses-permission>

     <uses-permission android:name="android.permission.INTERNET"/>    
	 <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name=".NewsItemActivity"
             android:icon="@drawable/news" />
        
        <activity android:name=".SettingsActivity"
            	  android:label="@string/settings_name"
            	  android:icon="@drawable/classes" 
            ></activity>
        <activity android:name=".ParticipantsActivity"
            	  android:label="@string/participants_name" 
            	  android:icon="@drawable/ic_participants" 
            ></activity>
        <activity android:name=".ParticipantItemActivity"
            	  android:label="@string/participants_name"
            	  android:icon="@drawable/ic_participant"            	  
            ></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/news"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:enabled="true" android:name=".NewsBoundedService"/>
        <service android:enabled="true" android:name=".NewsService"/>
        <receiver android:name = ".NewsReceiver">            
            <intent-filter >
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>		
            </intent-filter>           
        </receiver>
        
    </application>

</manifest>
